<nav class="navbar sticky-top navbar-expand-lg navbar-light shadow" >
    <img src="assets/images/logo_color.png"  alt="" class="logoNavbar">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <div class="collapse navbar-collapse " id="navbarText">
  
      <ul class="navbar-nav mr-auto navizq">
        <li class="nav-item active">
          <a class="nav-link" href="#portada" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#modelo" >Cómo Funciona </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#instituciones" >Instituciones </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#planes" >Planes </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#lavados"> Lavados </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#porque"> Por qué ParkWash </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacto"> Contacto </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/logs/login">|  Login </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/logs/registro"> Registrarme </a>
        </li>

      </ul>
  
  
      <span class="navbar-text">
        <ul class="navbar-nav">
        <!-- <% if user_signed_in?  %>
          <li class="nav-item"><%= link_to "Ver Mi Perfil", pages_dashboard_path(@user) %></li>
          <li class="nav-item"><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :get %></li>
  
        <% else %>
          <li class="nav-item" id="nav-buttons-nico"><%= link_to 'Inicio Sesión', new_user_session_path %></li>
          <li class="nav-item"><%= link_to 'Registrarse', new_user_registration_path  %></li>
        <% end  %> -->
      </ul>
      </span>
    </div>
  </nav>



 <div class="contenedor" >

<header >
    <div class="parallax1 para" id="portada">
      <div class="row justify-content-center">
        <div class="titular col-sm-10 col-md-8">
          <h1>NO TE PREOCUPES NUNCA</h1>
          <h1>MÁS DE LAVAR TU AUTO</h1>
          <h2>Suscríbete a uno de nuestros planes, <br>
  y nosotros nos preocuparemos por ti.</h2>
        </div>
  
      </div>
    </div>
  </header>



  <div class="franja row" style="margin:0" id="modelo">
    <div class="col-12">
      <h1>¿Cómo funciona ParkWash?</h1>
    </div>
  </div>
  
  <div class="uno row" style="margin:0">
    <div class="col-12 col-md-4 col-lg-3 offset-md-6 offset-lg-8">
      <h1>Lavamos tu auto en tu propio estacionamiento </h1>
      <p class="textoCuerpo">ParkWash ofrece servicios de lavado en seco premium en tu propio estacionamiento.
        Estos servicios se ofrecen sólo en estacionamientos seleccionados de condominios y oficinas.</p>
      <p>¡De a poco vamos incluyendo más!.</p>
    </div>
  </div>

  <div class="dos row" style="margin:0"> 
    <div class="col-12 col-md-5 offset-md-1 dosIzq">

      <div class="row">
        <div class="col-9">
          <h1>Modelo de Suscripciones</h1>
          <p class="textoCuerpo black">ParkWash funciona en base a un modelo de suscripciones.
            Simplemente debes escoger el tipo de lavado que te gustaría para tu vehículo y la frecuencia con que quieres que te lo lavemos, y listo.</p>
            <p class="textoCuerpo black">¡Nosotros nos encargaremos de que encuentres tu auto lavado cada vez que te subas a este, según la frecuencia que escogiste!</p>
          </div>
      </div>
        
    </div>

    <div class="col-12 col-md-6 dosDer">
    </div>
</div>

<div class="tres row" style="margin:0">
    <div class="col-12 col-md-4 offset-md-2">
       <img src="assets/images/laptop.png"  width="100%">
    </div>
  
    <div class="col-12 col-md-4">
      <h1 class="celeste">Pagos Automáticos Mensuales</h1>
      <p class="celeste"> Te cobraremos una vez al mes, según la cantidad de lavados que efectivamente se te realizaron en el mes anterior.
          El pago es automático a tu tarjeta de crédito registrada.</p>
      <p class="celeste"> ¡Pagar tus lavados de auto nunca fue tan fácil y cómodo!</p>
  
    </div>
</div>



<div class="parallax2 para">
    <div class="row text-center">
      <div class="col-sm-12 col-md-8  offset-md-2 titularNatural ">
        <img src="assets/images/leaf.svg" alt="icono" width="100px">
        <h1>LAVADO ECOLÓGICO</h1>
        <h2>Con nuestros lavados en seco estamos ahorrando <br> 200 litros de agua por lavado.</h2>
        <h2>¡Ayúdanos a cuidar el planeta!</h2>
      </div>
  
    </div>
  </div>




<div class="row planes" style="margin:0" id="planes">

    <div class="col-12 tituloPlanes">
        <h1>Tipos de Lavado</h1>
        <h2>¡Prueba un lavado y si quedas insatisfecho, te devolvemos tu plata!</h2>
    </div>




      <div class="col-10 offset-1 col-md-4 offset-md-2 planHome">
            <div class="card">
                <div class="card-header" style="background-color: #F6C702;">
                    <h5 style="color:black">Exterior </h5>
                    <p style="color:black">Lavado Exterior Premium</p>
                </div>
                <div class="card-body">
                      <ul class="list-group list-group-hover list-group-striped">
                          <li>Lavado de chasis con shampoo.</li>
                          <li>Uso de abrillantador. </li>
                          <li> Cuidadosa limpieza de vidrios y espejos.</li>
                          <li>Uso de cera y silicona.</li>
                          <li>Lavado de llantas y neumáticos.</li>
                          <li class="nohab">Aspirado interior completo.</li>
                          <li class="nohab" >Aseo de tapices interiores.</li>
                          <li class="nohab" >Lavado de pisaderas con renovador de gomas.</li>
                          <li class="nohab" >Limpieza interior en tableros, asientos y puertas con protección antipolvo.</li>
                      </ul>
                </div>
            </div>
        </div>

        <div class="col-10 offset-1 col-md-4 planHome">
            <div class="card">
                <div class="card-header" style="background-color: black;">
                    <h5>Full </h5>
                    <p>Lavado Exterior Premium + Interior</p>
                </div>
                <div class="card-body">
                      <ul class="list-group list-group-hover list-group-striped">
                          <li>Lavado de chasis con shampoo.</li>
                          <li>Uso de abrillantador. </li>
                          <li> Cuidadosa limpieza de vidrios y espejos.</li>
                          <li>Uso de cera y silicona.</li>
                          <li>Lavado de llantas y neumáticos.</li>
                          <li>Aspirado interior completo.</li>
                          <li>Aseo de tapices interiores.</li>
                          <li>Lavado de pisaderas con renovador de gomas.</li>
                          <li>Limpieza interior en tableros, asientos y puertas con protección antipolvo.</li>
                      </ul>
                </div>
            </div>
        </div>


          <div class="col-12 text-center">
            <p class="card-text text-light" style="text-align: center;">*Para asientos de cueros se aplica limpiadores suaves, seguros y humectantes.</p>
          </div>

</div>



  <div class="row parallax4 comoFunciona" style="margin:0">

    <div class="col-12 text-center">
      <h1>3 simples pasos</h1>
      <span>Por que sabemos que tu tiempo es importante.</span>
    </div>
  
    <div class="col-12 pasos">
      <div class="row" style="margin:0">
  
          <div class="col-4  text-center">
            <img src="assets/images/map-location.svg" alt="icono" class="iconoHome">

            <h5>1. Chequeas si ParkWash está en tu lugar de trabajo o domicilio.</h5>
          </div>
  
          <div class="col-4  text-center">
            <img src="assets/images/subscription.svg" alt="icono" class="iconoHome">
            <h5>2. Te suscribes y escoges un plan desde parkwash.cl .</h5>
          </div>
  
 
  
          <div class="col-4  text-center">
            <img src="assets/images/car.svg" alt="icono" class="iconoHome">
            <h5>3. Lavamos tu auto y te despreocupas para siempre.</h5>
          </div>
  
      </div>
    </div>
  </div>
  
  
      <div class="franja row" style="margin:0" id="porque">
        <div class="col-12">
          <h1>¿Por qué escoger ParkWash?</h1>
          <p class="celeste">Lavamos tu auto con un cuidado especial, preocupándonos de cada detalle.</p>
        </div>
      </div>
  

  <div class="row argumentos" style="margin:0">
  <div class="col-12 col-md-4 argumento f_verde">
        <h1>Comodidad</h1>
        <p>Al escoger ParkWash, no tienes ir a ningún lugar para que te laven tu auto, ni tampoco tienes que llamar a nadie para que te lo vaya a lavar. ¡Simplemente te suscribes a uno de nuestros planes, y te olvidas para siempre de lavar tu auto!</p>
      </div>
      <div class="col-12 col-md-4 argumento1">
      </div>
    
      <div class="col-12 col-md-4 argumento f_celeste">
        <h1>Tiempo</h1>
        <p>No perderás tiempo coordinando con una empresa para que vaya a lavar tu auto cada vez que lo desees.
      
      Mediante nuestro sistema de suscripciones, nosotros te lavaremos tu auto periódicamente, permitiéndote ahorrar tiempo y preocupaciones.</p>
    </div>
  </div>
    

    <div class="row argumentos" style="margin:0">
    
    
      <div class="col-12 col-md-4 argumento2">
      </div>
    
      <div class="col-12 col-md-4 argumento f_celeste">
        <h1>Calidad</h1>
        <p>Nos especializamos en lavados en seco y semi-en-seco. Dejamos el auto impecable y sin rayaduras.
        Limpiamos también alrededores de los estacionamientos para dejar el lugar como si nada hubiera ocurrido.
        ¡Nuestro equipo lleva años haciendo lavados del más alto nivel!</p>
    </div>
    
      <div class="col-12 col-md-4 argumento3">
      </div>
    
    </div>
 
    
    <div class="row argumentos" style="margin:0">
    
      <div class="col-12 col-md-4 argumento f_verde">
        <h1>Materiales</h1>
        <p>Utilizamos paños de microfibra sintética, especialmente diseñados para este tipo de lavados, los cuales retienen todo tipo de suciedad y polvo, permitiendo un lavado suave y un secado sin rayaduras.</p>
      </div>
    
      <div class="col-12 col-md-4 argumento4">
      </div>
    
      <div class="col-12 col-md-4 argumento f_celeste">
        <h1>Líquidos</h1>
        <p>Una de las claves detrás excelente calidad de nuestros lavados radica en la selección de liquidos testeados y diseñados especificamente para el lavado en seco. Nuestros liquidos cumplen con todos los estándares internacionales y están constantementes sometidos a pruebas departe de nuestro equipo.</p>
      </div>
    
    </div>
    



<div class="parallax3 para">
        <div class="row text-center">
          <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3 titularNatural ">
            <img src="assets/images/bar-chart.svg" alt="icono"  width="100px">

            <h1>REPORTES</h1>
            <h2>Te mostraremos reportes con tus lavados realizados y los pagos que has hecho.</h2>
          </div>
      
        </div>
      </div>
      

      
      
      <div class="franja row" style="margin:0" id="contacto">
        <div class="col-12">
          <h1>¿Quieres a ParkWash en tu condominio u oficina?</h1>
          <p class="celeste">Si tienes dudas o quieres probar a ParkWash en tu condominio u oficina, sólo escríbenos un mail con tus datos a <span>contacto@parkwash.cl</span> y nosotros te contactaremos.
      </p>
        </div>
      </div>


      <footer class="row" style="margin:0">
            <div class="col-12 col-md-6 offset-md-1">
              <p>contacto@parkwash.cl</p>
            </div>
            <div class="col-12 col-md-4">
              <p>ParkWash® 2017. Todos los derechos reservados.</p>
            </div>
          
          </footer>

</div> 
          <script>
                (function($){
                  $(function(){
                
                    // $('.button-collapse').sideNav();
                    // $('.parallax').parallax();
                    
                    // $('a').click(function(e){
                    //     e.preventDefault();
                    //     $('body, html').animate({
                    //         scrollTop: $(this).attr('href').offset().top - $(window).height() - 100
                    //     }, 1000);
                    // });

                // $('a').click(function(){
                //     $('html, body').animate({
                //         scrollTop: $(this).attr('href').offset().top-100
                //     },1600);
                // });

                $('a').scrollTo( $((this).attr('href'), 1000, {offset:-900} )

                
                  }); // end of document ready
                })(jQuery); // end of jQuery name space
         </script>