.auto {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 20px;
}

.auto h2{
    font-weight: 700;
    margin-bottom: 0;
}

.auto p{
    margin-bottom:0;
}

.ico {
    cursor: pointer;
    margin-top: 10px;
}